<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
      <title>Aardvaark</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Nonprofit volunteer organization organizing" />
      <meta name="keywords" content="nonprofit, volunteer, events, management" />
      <meta name="author" content="Jillian Evin and James Romanchuk" />
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
  </head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value) %>
<% end %>

<%= yield %>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <%= javascript_include_tag "jquery.glide.min.js" %>
  <%= javascript_include_tag "jquery.multi-select.js" %>
  
  <script>
    $('.slider.top').glide({
      arrows: false,
      navigation: false,
      keyboard: false,
      autoplay: false,
      navigationCenter: false
    });

    $('.slider.bottom').glide({
      arrows: false,
      navigation: false,
      keyboard: false,
      autoplay: false,
      navigationCenter: false
    });
  </script>

  <script>

  var glideTop = $('.slider.top').glide().data('api_glide');
  var glideBottom = $('.slider.bottom').glide().data('api_glide');

  $( ".volunteer" ).click(function() {
    glideTop.jump(2, console.log('Top!'));
  });

  $( ".volunteer.back" ).click(function() {
    glideTop.jump(1, console.log('Top!'));
  });

  $( ".organization" ).click(function() {
    glideBottom.jump(2, console.log('Bottom!'));
  });

  $( ".organization.back" ).click(function() {
    glideBottom.jump(1, console.log('Bottom!'));
  });
  </script>

  <script>
    
    $('#unassigned-volunteers').multiSelect({
      
      afterSelect: function(value){
      
      
      var myShit = $('#unassigned-volunteers')
      var user_id_value = value[0]
      var data = { 'user_id':user_id_value}

      console.log("This is awesome-er", value);
      console.log("This is data", data);
      console.log("This is my shit", myShit[0].value)
    
          // $.ajax({
          //   type: 'POST',
          //   url: "/event_users",
          //   data: user_id_value,
          //   dataType:'json',
          //   error: function(err){
          //     console.log(err);
          //   },
          //   success: function(myShit){ 
          //     console.log("SCHWEET");
          //   },
          //   complete: function (myShit){
          //     console.log("Killah", myShit)
          //   }
          //   });
    },

    });

      $('#unassigned-volunteers').submit(function (event){
        // var valuesToSubmit = $("#unassigned-volunteers").serialize();
        
        $.ajax({
            url:'/event_users',
            type:"POST",
            dataType:'json',
            data: value,
            processData:false,

            success: function (data){
            alert(data);
            },
            
            error: function (xhr, status){
            alert(xhr.error);}
        });      
      });


  </script>
</body>
</html>













