.row
  .col-xs-12
    %p.subheading
      YOUR EVENTS
    - if @upcoming_events.length == 0
      %p= "No events! Get involved, you slacker!"
    - else
      .list-group
        - @upcoming_events.each do |event|
          = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
            %h4.list-group-item-heading 
              = event.type_of_event
              %strong
                %small= event.date.to_s
            %h3= Organization.find(event.organization_id).name
            %p.list-group-item-text
              %strong= "Organizer "
              = User.find(event.user_id).firstname+" "+User.find(event.user_id).lastname
            %p.list-group-item-text
              %strong= "Location "
              = event.location
            %p.list-group-item-text
              %strong= "Time "
              = event.event_time.to_s(:time)
            %p.list-group-item-text
              %strong= "Notes "
              = event.description