%h1 users index

/ signup form for users
%h3 User sign up

= form_for @users do |f|

  = f.label "first name"
  = f.text_field :firstname
  %br
  = f.label "last name"
  = f.text_field :lastname
  %br
  = f.label "email"
  = f.text_field :email
  %br
  = f.label "phone number"
  = f.text_field :phone
  %br
  = f.label "gender"
  = select_tag "gender", "<option>female</option><option>male</option><option>-</option>".html_safe
  %br
  = f.label "age"
  = f.number_field :age
  %br
  = f.label "Do you have a vehicle?"
  = select_tag "vehicle", "<option>yes</option><option>no</option>".html_safe
  %br
  = f.label "how many passengers can your vehicle take?"
  = f.number_field :passenger_capacity
  %br
  = f.label "password"
  = f.password_field :password
  %br
  = f.submit "Submit"
  %br

%h2 Log In

= form_tag session_path do

  = label_tag "email"
  = text_field_tag "email"
  %br
  = label_tag :password
  = password_field_tag :password
  %br
  = submit_tag "Submit"

/ %h2= "logout, #{current_user.firstname}"

= form_tag session_path do

  = submit_tag "Logout"