#container
  .row
    .col-xs-3
      .row
        .quad-nav.events
      .row
        .quad-nav.org
    .col-xs-6.no-margin
      .advk-logo.text-center
    .col-xs-3
      .row
        .quad-nav.update-profile
      .row
        .quad-nav.logout

  .content-container
    .row
      .col-xs-12
        %p.subheading
          YOUR EVENTS
        - if @upcoming_events.length == 0
          %p= "No events! Get involved, you slacker!"
        - else
          .list-group
            - @upcoming_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading 
                  STREET HIT
                  %strong
                    %small= event.date.to_s
                %h3= event.organization_id
                %p.list-group-item-text
                  = event.description
    .row
      .col-xs-12
        %p.subheading
          UPCOMING EVENTS
        - if @open_events.length == 0
          %p= "Nothing important's happening in your life."
        - else
          .list-group
            - @open_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading
                  WALKATHON
                  %strong
                    %small= event.date.to_s
                %h3= event.organization_id
                %p.list-group-item-text
                  = event.description
    .row
      .col-xs-12
        %p.subheading
          CREATE AN EVENT
        = form_for ([@user, @event]) do |f|
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-calendar.fa-fw
            = f.select :type_of_event, ["Street Hit"], {}, { :class => "form-control" }
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-calendar.fa-fw
            = f.collection_select :organization_id, Organization.all, :id, :name, {:prompt => "Who you doing this for?"}, { :class => "form-control" }
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-calendar.fa-fw
            = f.collection_select :user_id, [current_user], :id, :firstname, {}, { :class => "form-control" }
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-calendar.fa-fw
            = f.date_field :date, class: "form-control"
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-clock-o.fa-fw
            = f.time_field :event_time, class: "form-control"
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-location-arrow.fa-fw
            = f.text_field :location, class: "form-control", placeholder: "location"
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-quote-left.fa-fw
            = f.text_area :description, class: "form-control"
          %span.input-group-btn
            = f.submit "Submit", class: "btn btn-default"

    .row
      .col-xs-1.col-md-2
      .col-xs-10.col-md-8
        %h3 This is the big list of organizations
        - @organizations.each do |org|
          = org.name+" // "
          = org.id
          = link_to "Wanna join?", user_request_path(org), method: :post
          %br
        .col-xs-1.col-md-2


    #padding-bottom-hack    
    .navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container-fluid
        = render "user_name_check"
        = link_to "LOG OUT", session_path("current_user"), method: :delete
