#container
  .row
    .col-xs-3
      .row
        .quad-nav.events
      .row
        .quad-nav.org
    .col-xs-6.no-margin
      .advk-logo.text-center
    .col-xs-3
      .row
        .quad-nav.update-profile
      .row
        .quad-nav.logout

  .content-container
    
    = render "user_upcoming_events"
    
    .row
      .col-xs-12
        %p.subheading
          UPCOMING EVENTS
        - if @open_events.length == 0
          %p= "Nothing important's happening in your life."
        - else
          .list-group
            - @open_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading
                  WALKATHON
                  %strong
                    %small= event.date.to_s
                %h3= event.organization_id
                %p.list-group-item-text
                  = event.description
    
    = render "user_create_an_event"

    .row 
      .col-xs-12
        %p.subheading
          ORGANIZATIONS
        - @organizations_not_joined.each do |org|
          %p= Organization.find(org.id).name
          %p= link_to "Wanna join?", user_request_path(org.id), method: :post
          %br
        .col-xs-1.col-md-2

    .row 
      .col-xs-12
        %p.subheading
          PENDING
        - @organization_volunteer_pending.each do |org|
          %p= Organization.find(org.id).name
          %br
        .col-xs-1.col-md-2

    .row 
      .col-xs-12
        %p.subheading
          YOU VOLUNTEER AT
        - @organizations_volunteering_at.each do |org|
          %p= Organization.find(org.id).name
          %br
        .col-xs-1.col-md-2


    #padding-bottom-hack    
    .navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container-fluid
        = render "user_name_check"
        = link_to "LOG OUT", session_path("current_user"), method: :delete
