#container
  .row
    .col-xs-3
      .row
        .quad-nav.events
      .row
        .quad-nav.org
    .col-xs-6.no-margin
      .advk-logo.text-center
    .col-xs-3
      .row
        .quad-nav.update-profile
      .row
        .quad-nav.logout

  .content-container
    .row
      .col-xs-12
        %p.subheading
          YOUR EVENTS
        - if @upcoming_events.length == 0
          %p= "No events! Get involved, you slacker!"
        - else
          .list-group
            - @upcoming_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading 
                  = event.type_of_event
                  %strong
                    %small= event.date.to_s
                %h3= Organization.find(event.organization_id).name
                %p.list-group-item-text
                  %strong= "Organizer "
                  = User.find(event.user_id).firstname+" "+User.find(event.user_id).lastname
                %p.list-group-item-text
                  %strong= "Location "
                  = event.location
                %p.list-group-item-text
                  %strong= "Time "
                  = event.event_time.to_s(:time)
                %p.list-group-item-text
                  %strong= "Notes "
                  = event.description
    .row
      .col-xs-12
        %p.subheading
          UPCOMING EVENTS
        - if @open_events.length == 0
          %p= "Nothing important's happening in your life."
        - else
          .list-group
            - @open_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading
                  WALKATHON
                  %strong
                    %small= event.date.to_s
                %h3= event.organization_id
                %p.list-group-item-text
                  = event.description
    
    = render "user_create_an_event"

    .row
      .col-xs-1.col-md-2
      .col-xs-10.col-md-8
        %h3 This is the big list of organizations
        - @organizations.each do |org|
          = org.name+" // "
          = org.id
          = link_to "Wanna join?", user_request_path(org), method: :post
          %br
        .col-xs-1.col-md-2


    #padding-bottom-hack    
    .navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container-fluid
        = render "user_name_check"
        = link_to "LOG OUT", session_path("current_user"), method: :delete
