#container
  .row
    .col-xs-3
      .row
        .quad-nav.events
      .row
        .quad-nav.org
    .col-xs-6.no-margin
      .advk-logo.text-center
    .col-xs-3
      .row
        .quad-nav.update-profile
      .row
        .quad-nav.logout

  .content-container
    
    = render "user_upcoming_events"
    
    .row
      .col-xs-12
        %p.subheading
          UPCOMING EVENTS
        - if @open_events.length == 0
          %p= "Nothing important's happening in your life."
        - else
          .list-group
            - @open_events.each do |event|
              = link_to user_event_path(current_user.id, :id => event.id), :class => "list-group-item" do
                %h4.list-group-item-heading
                  WALKATHON
                  %strong
                    %small= event.date.to_s
                %h3= event.organization_id
                %p.list-group-item-text
                  = event.description
    
    -if @organizer
      = render "user_create_an_event"

    = render "user_organization_status"

    #padding-bottom-hack    
    .navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container-fluid
        = render "user_name_check"
