#container
  .slider.top
    %ul.slides
      %li.slide.wrapper
        .col-xs-1.col-md-2.text-center.landing-choice
        .col-xs-10.col-md-8.text-center.landing-choice
          .organization.flat.top
            %span.glyphicon.glyphicon-circle-arrow-left
            ORGANIZATIONS
        .col-xs-1.col-md-2.text-center.landing-choice

      %li.slide.wrapper
        .col-xs-1.col-md-3.text-center.landing-choice
          .flat
            .volunteer.back.glyphicon.glyphicon-circle-arrow-right
        .col-xs-10.col-md-6.text-center.landing-choice
          = form_tag session_path do#, :method => :post do 
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %i.fa.fa-envelope-o.fa-fw
              = text_field_tag "email", nil, class: "form-control", placeholder: "email"
            .input-group
              %span.input-group-addon
                %i.fa.fa-key.fa-fw
              = password_field_tag :password, nil, class: "form-control", placeholder: "password"
              %span.input-group-btn
                = submit_tag "GO", class: "btn btn-default"
        .col-xs-1.col-md-3.text-center.landing-choice

  .slider
    .col-xs-12.col-md-12.text-center.paper
      =image_tag "advk_logo2.png"

  .slider.bottom
    %ul.slides
      %li.slide.wrapper
        .col-xs-1.col-md-2.text-center.landing-choice
        .col-xs-10.col-md-8.text-center.landing-choice
          .volunteer.flat.bottom
            VOLUNTEERS
            %span.glyphicon.glyphicon-circle-arrow-right
        .col-xs-1.col-md-2.text-center.landing-choice

      %li.slide.wrapper
        .col-xs-1.col-md-3.text-center.landing-choice
        .col-xs-10.col-md-6.text-center.landing-choice
          = form_tag session_path do#, :method => :post do 
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %i.fa.fa-envelope-o.fa-fw
              = text_field_tag "email", nil, class: "form-control", placeholder: "email"
            .input-group
              %span.input-group-addon
                %i.fa.fa-key.fa-fw
              = password_field_tag :password, nil, class: "form-control", placeholder: "password"
              %span.input-group-btn
                = submit_tag "GO", class: "btn btn-default"
        .col-xs-1.col-md-3.text-center.landing-choice
          .flat
            .organization.back.glyphicon.glyphicon-circle-arrow-left