%h1 organizations index

- @users.each do |user|
  - volunteer = user.firstname
  %p #{volunteer}


%h2 filter volunteers

= form_tag organizations_search_path do 
  
  = label_tag "search by vehicle"
  = text_field_tag :vehicle
  %br
  = label_tag "search by gender"
  = text_field_tag :gender
  %br
  = label_tag "search by age"
  = select_tag "age", "<option>18 -25</option><option>26 - 45</option><option>46 + </option>".html_safe
  = submit_tag("search")

    
