#container
  %h1.text-center organizations index
  - if current_user
    - if current_user.firstname
      %h3.text-center Hey, hey #{current_user.firstname}, you're a volunteer and shouldn't be here!
    - else
      %h3.text-center Hey, hey #{current_user.name}, you so'n so
  

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h3 Registered organizations
      - @organizations.each do |org|
        = org.name
        = link_to "GO THIS PAGE, PEON!", organization_path(org)
        %br
    .col-xs-4.col-md-4
  
  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h3 Registered events
      - @events.each do |event|
        %h4= event.description
        = event.location+" / "+event.date.to_s+" / "+event.organization_id.to_s
        = link_to "GO THIS PAGE, PEON!", event_path(event)
        %br
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h3 Organization sign up
      = form_for @organization do |f|
        = f.text_field :name, placeholder: "name of organization"
        %br
        = f.text_field :representative_name, placeholder: "name of representative"
        %br
        = f.text_field :email, placeholder: "email"
        %br
        = f.password_field :password, placeholder: "password"
        %br
        = f.submit "Submit"
        %br    
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h3 Organization sign in
      = form_tag session_path do
        = text_field_tag "email", nil, placeholder: "email"
        %br
        = password_field_tag :password, nil, placeholder: "password"
        %br
        = submit_tag "Submit"
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2 Create an event    
      = form_for Event.new do |f|
        = f.label "date"
        %br
        = f.date_field :date
        %br
        = f.label "event time"
        %br
        = f.time_field :event_time
        %br
        = f.label "location"
        %br
        = f.text_field :location
        %br
        = f.label "description"
        %br
        = f.text_area :description
        %br
        = f.submit "Submit"
        %br
    .col-xs-4.col-md-4    


/ - if current_user
/   %h3= "logout, #{current_user.firstname}"
/   = button_to "Logout", session_path, method: :delete

/ %h2 list of volunteers

/ - @users.each do |user|
/   - volunteer = user.firstname
/   %p #{volunteer}

/ %h2 filter volunteers

/ = form_tag organizations_search_path do 

/   = label_tag "search by vehicle"
/   = text_field_tag :vehicle
/   %br
/   = label_tag "search by gender"
/   = text_field_tag :gender
/   %br
/   = label_tag "search by age"
/   = select_tag "age", "<option>18 -25</option><option>26 - 45</option><option>46 + </option>".html_safe
/   = submit_tag("search")