#container
  - if !current_user.nil?
    - if current_user.try(:firstname)
      %h1.text-center Hey, hey #{current_user.firstname}, you're a volunteer and shouldn't be here!
      %h3.text-center= link_to "Log Out", session_path("current_user"), method: :delete
    - else
      %h1.text-center Hey, hey #{current_user.name}, you so'n so, Organization, you
      %h3.text-center= link_to "Log Out", session_path("current_user"), method: :delete

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2= "Your Volunteer Requests" 
      - @invites.each do |invite|
        - request = RelationshipJunction.find_by("user_id = #{invite.id} AND organization_id = #{@organization.id}")
        %h4= invite.firstname+" "+invite.lastname
        = link_to "Welcome aboard, sailor?", relationship_junction_path(request.id), method: :patch
        = link_to "Deny", relationship_junction_path(request.id), method: :delete
        %br
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2= "Your Volunteers" 
      - @volunteers.each do |volunteer|
        - request = RelationshipJunction.find_by("user_id = #{volunteer.id} AND organization_id = #{@organization.id}")
        %h4= volunteer.firstname+" "+volunteer.lastname
        = link_to "Able to organize?", upgrade_path(request.id), method: :post
        = link_to "Revoke privilages?", downgrade_path(request.id), method: :post
        = link_to "Delete", relationship_junction_path(request.id), method: :delete
        %br
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2= "Your Organizing Volunteers" 
      - @volunteer_supers.each do |volunteer|
        - request = RelationshipJunction.find_by("user_id = #{volunteer.id} AND organization_id = #{@organization.id}")
        %h4= volunteer.firstname+" "+volunteer.lastname
        = link_to "Revoke privilages?", downgrade_path(request.id), method: :post
        = link_to "Delete", relationship_junction_path(request.id), method: :delete
        %br
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2= @organization.name+"'s Events" 
      - @organization.events.each do |event|
        %h4= event.description
        = link_to "Delete?", organization_event_path(current_user, event.id), method: :delete, confirm: "You sure?"
        = link_to "Modify?", edit_organization_event_path(current_user, event.id)
        %br
    .col-xs-4.col-md-4

  .row
    .col-xs-4.col-md-4
    .col-xs-4.col-md-4.text-center
      %h2 Create an event    
      = form_for ([@organization, @event]) do |f|
        =f.label "point person"
        %br
        = f.collection_select :user_id, @volunteer_supers.all, :id, :firstname
        %br
        = f.label "date"
        %br
        = f.date_field :date
        %br
        = f.label "event time"
        %br
        = f.time_field :event_time
        %br
        = f.label "location"
        %br
        = f.text_field :location
        %br
        = f.label "description"
        %br
        = f.text_area :description
        %br
        = f.submit "Submit"
        %br
    .col-xs-4.col-md-4    



/ - if current_user
/   %h3= "logout, #{current_user.firstname}"
/   = button_to "Logout", session_path, method: :delete

/ %h2 list of volunteers

/ - @users.each do |user|
/   - volunteer = user.firstname
/   %p #{volunteer}

/ %h2 filter volunteers

/ = form_tag organizations_search_path do 

/   = label_tag "search by vehicle"
/   = text_field_tag :vehicle
/   %br
/   = label_tag "search by gender"
/   = text_field_tag :gender
/   %br
/   = label_tag "search by age"
/   = select_tag "age", "<option>18 -25</option><option>26 - 45</option><option>46 + </option>".html_safe
/   = submit_tag("search")